<script type="text/ng-template" id="loading.html">
    <widget-row>
        <widget-cell>
            <div class="pDetails">
                Loading..
            </div>
        </widget-cell>
    </widget-row>
</script>

<script type="text/ng-template" id="main.html">
    <widget-row>
        <widget-cell>
            <h2>Go Warriors</h2>
        </widget-cell>
    </widget-row>

    <widget-row>
        <widget-cell>
            <h2>{{data.value.message}}</h2>
        </widget-cell>
    </widget-row>

    <div class="collapseMe">
        <widget-row>
            <widget-cell>
                <h4>Today (Click to see more) 
                    <widget-cell> 
                        <widget-cell clickable ng-click="showPAC(item)">PAC</widget-cell>9:00 am - 10:30 pm </widget-cell>
                    <widget-cell>
                        <widget-cell clickable ng-click="showCIF(item)">CIF</widget-cell>8:30 am - 10:00 pm</widget-cell></h4>
            </widget-cell>
        </widget-row>
        
        <widget-search label="What are you interested in?" placeholder="Type in a sport you like" search-results-title="Behold" data="model" min-char="2" fields="['title']">
            <widget-filter fields="['category']" filters="[{value:'Recreation',text:'Recreation'},{value:'Ball',text:'Ball'}, 
                                                          {value:'Track and Field',text:'Track and Field'},  {value:'Women Only',text:'Women Only'} ]">
            </widget-filter>

            <widget-searching>
                <widget-list list="item in searchResults" show-items="4">
                    <widget-row clickable ng-click="showDetails(item)">
                        <widget-cell fill>{{item.title}}</widget-cell>
                        <widget-cell>
                            <widget-icon name="angle-right"></widget-icon>
                        </widget-cell>
                    </widget-row>
                </widget-list>
            </widget-searching>

            <widget-not-searching>
                <widget-row>
                    <widget-cell>
                        <h2>Sports List</h2>
                    </widget-cell>
                </widget-row>
                <widget-list list="item in model" show-items="4">
                    <widget-row clickable ng-click="showDetails(item)">
                        <widget-cell fill>{{item.title}}</widget-cell>
                        <widget-cell>
                            <widget-icon name="angle-right"></widget-icon>
                        </widget-cell>
                    </widget-row>
                </widget-list>
            </widget-not-searching>
        </widget-search>
    </div>
    
    <blockquote class="twitter-tweet" data-cards="hidden" data-lang="zh-cn"><p lang="en" dir="ltr">Huge congrats to <a href="https://twitter.com/nlancee">@nlancee</a> of <a href="https://twitter.com/UWTrackandField">@UWTrackandField</a> on her <a href="https://twitter.com/CIS_TF">@CIS_TF</a> Silver Medal in the 300m with a 🕑 of 39.17! 🎉👏🏃🏻💨 <a href="https://t.co/z2ait88La8">pic.twitter.com/z2ait88La8</a></p>&mdash; Waterloo Warriors (@WlooWarriors) <a href="https://twitter.com/WlooWarriors/status/708473300020629504">2016年3月12日</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    
</script>

<!-- Menu template -->
<script type="text/ng-template" id="widgetMenu.html">
    <li>
        <a>
            Menu button
        </a >
    </li>
</script>

<!-- VIEW FOR THE SEARCH AND LIST EXAMPLE -->
<script type="text/ng-template" id="details.html">
    <widget-list-controls prev-click="prevItem" next-click="nextItem" original-item="item.value" prev-text="Previous Item"
                          next-text="Next Item"></widget-list-controls>
    <widget-row>
        <widget-cell>
            <h2>{{item.value.title}}</h2>
        </widget-cell>
    </widget-row>
    <widget-row>
        <widget-cell>
     <!--       <div class="pHighlight">{{item.value.details}}</div>  -->
             <widget-not-searching>
                <widget-row>
                    <widget-cell>
            <!--            <h2>Inter List</h2> -->
                    </widget-cell>
                </widget-row>
                <widget-list list="it in item.value.details" show-items="4">
                  <widget-row clickable ng-click="showDetails2(it)">
                        <widget-cell fill>{{it.title}}
                     
                        </widget-cell>
                        <widget-cell>
                            <widget-icon name="angle-right"></widget-icon>
                        </widget-cell>
                    </widget-row>
                </widget-list>
            </widget-not-searching>
        </widget-cell>
    </widget-row>
</script>



<!-- VIEW FOR THE SEARCH AND LIST EXAMPLE -->
<script type="text/ng-template" id="details2.html">
    <widget-list-controls prev-click="prevItem" next-click="nextItem" original-item="item.value" prev-text="Previous Item"
                          next-text="Next Item"></widget-list-controls>
    <widget-row>
        <widget-cell>
            <h3>{{item2.value.details}}</h3>
        </widget-cell>
    </widget-row>
    <widget-row>
        <widget-cell>
            <h2> {{item2.value.location_time}}</h2>
        </widget-cell>
    </widget-row>
    <widget-row>
        <widget-cell>
            <div class="pDetails">{{item2.value.Instruction}}</div>
        </widget-cell>
    </widget-row>
    
    <img ng-src="{{item2.value.picture}}"/>
    
     <widget-row>
        <widget-cell>
            <h5> <a ng-href="{{item2.value.url}}" target="_blank"><font color="red">{{item2.value.num}}</font></a> </h5>
        </widget-cell>
        </widget-row>
    
    <widget-row>
        <widget-cell>
            <h5> {{item2.value.rating}} </h5>
        </widget-cell>
        </widget-row>
    <widget-row>
        <widget-cell>
            <h5>{{item2.value.review_title}}</h5>
        </widget-cell>
        </widget-row>
    <div style="width:500px;height:100px;border:1px solid #000;">Tell us your experience!</div>
    
    <!--try to insert comments





--> 
    
    
    
    
    
    
    
    
    
    
</script>

<script>
    var clicked=0
    function showCourses(){
       element=document.getElementById("swimspec")
       tttt="<p>Saturday:</p><p>Rec Swimming:</p><p>2:10 pm - 3:00 pm</p><p>Fitness and Rec Swimming:</p><p>3:10 pm - 4:00 pm</p>"
       if (clicked==0) {
          element.innerHTML=tttt
          clicked=1
       }
       else {
          element.innerHTML=""
          clicked=0
       }
    }
</script>



<script type="text/ng-template" id="pac.html">
    <widget-row>
        <widget-cell>
            <h2>PAC</h2>
        </widget-cell>
    </widget-row>
    <widget-row>
        <widget-cell>
            <div class="pHighlight">{{item2.value.details}}</div>
        </widget-cell>
    </widget-row>
    <h4> PAC Hours </h4>
    <table border="2">
        <tr>
<td>DAYS OF THE WEEK</td>
<td>Jan. 4 - Apr. 3</td>
            <td>Apr. 4 - Apr. 22</td>
</tr>
<tr>
<tr>
<td>Monday - Friday</td>
<td>7:00 am - 12:30 am</td>
    <td>8:00 am - 10:30 am</td>
</tr>
<tr>
<td>Saturday</td>
<td>9:00 am - 10:30 pm</td>
    <td>9:00 am - 5:30 pm</td>
</tr>
        <tr>
<td>Sunday</td>
<td>9:00 am - 12:30 am</td>
         <td>9:00 am - 5:30 am</td>   
</tr>
</table>
   <div style="position:relative;">
     <img ng-src="http://s5.sinaimg.cn/orignal/005PMBMqgy704g7rmNCf4&690" width=99% height=99%>
         <img ng-src="http://s2.sinaimg.cn/orignal/005PMBMqgy704iyGlKp21&690" style="position:absolute;top:450px;right:80px;" 
              width=7% height=7% id="swim" onclick="showCourses()">
         <span id="swimspec" style="position:absolute;top:500px;right:86px;" background-color="white" border-color"black">
             
         </span>
             </div>
</script>

         <script type="text/ng-template" id="cif.html">
    <widget-row>
        <widget-cell>
            <h2>CIF</h2>
        </widget-cell>
    </widget-row>
    <widget-row>
        <widget-cell>
            <div class="pHighlight">{{item2.value.details}}</div>
        </widget-cell>
    </widget-row>
    <h4> CIF Hours </h4>
    <table border="2">
        <tr>
<td>DAYS OF THE WEEK</td>
<td>Jan. 4 - Apr. 3</td>
            <td>Apr. 4 - Apr. 22</td>
</tr>
<tr>
<tr>
<td>Monday - Friday</td>
<td>7:00 am - 12:30 am</td>
    <td>8:00 am - 10:30 am</td>
</tr>
<tr>
<td>Saturday</td>
<td>9:00 am - 10:30 pm</td>
    <td>9:00 am - 5:30 pm</td>
</tr>
        <tr>
<td>Sunday</td>
<td>9:00 am - 12:30 am</td>
         <td>9:00 am - 5:30 am</td>   
</tr>
</table>
     <img src="http://s8.sinaimg.cn/orignal/005PMBMqgy704g0gRgP67&690" width=99% height=99%>
         <span ng-if="show" id="swimspec" style="position:absolute;top:400px;right:20px;" background-color="white" border-color"black">
             <div style="display: none">
             <p>Saturday:</p >
             <p>Rec Swimming:</p > 
             <p>2:10 pm - 3:00 pm</p >
             <p>Fitness and Rec Swimming:</p >
             <p>3:10 pm - 4:00 pm</p >
                 </div>
         </span>
</script>
        
       
